#name {
    background-color: aqua;
}

#email {
    background-color: brown;
    font-size: 20px;
}

#msg{
    color: brown;
    background-color: chartreuse;
    margin-top: 5px;
   

}

#letras{

color: blue;


}

#boton{
    color: darkred;
    background-color: black;
    font-size: 30px;
}

